<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
    <property name="hibernate.connection.username">RapiBanca</property>
    <property name="hibernate.connection.password">julio</property>-->
    
 <mapping class="com.rapibanca.entities.ClienteRapibanca"/>
 <mapping class="com.rapibanca.entities.MedioElectronico"/>
 <mapping class="com.rapibanca.entities.ProductosRapibanca"/>
 <mapping class="com.rapibanca.entities.PromocionesRapibanca"/>
 <mapping class="com.rapibanca.entities.TipoOperacion"/>
 <mapping class="com.rapibanca.entities.TransaccionesRapibanca"/>
    
  </session-factory>
</hibernate-configuration>
